{{! TOP ROW }}
<div class="time fill">
  <div class="incrementer side left-side fit decrease-time {{minedOut}}" {{action 'decreaseTime'}}>
    {{#ui-animate 'ui-calendar-bump-left' event='click' duration=0.25}}
      {{ui-icon icon='chevron-left' cursor=true fw=false}}
    {{/ui-animate}}
  </div>
  <div class="start-time fill">
    {{ui-slider
      min=_start
      max=_end
      step=step
      value=_shadowTime
      formatter=tooltip
      changed=(action 'timeChanged')
      class='needsclick'
    }}
  </div>
  <div class="incrementer side fit right-side increase-time {{maxedOut}} pointer" {{action 'increaseTime'}}>
    {{#ui-animate 'ui-calendar-bump-right' event='click' duration=0.25}}
      {{ui-icon icon='chevron-right' cursor=true fw=false}}
    {{/ui-animate}}
  </div>
</div>

{{! BOTTOM ROW }}
{{#if (gt _durationChoices.length 0)}}
<div class="duration">
  {{ui-buttons
    value=duration
    buttons=_durationChoices
    stretch=true
    onChange=(action 'onDurationChange' duration)
  }}
</div>
{{/if}}
