{{! TOP ROW }}
<div class="time">
  <div class="incrementer left decrease-time {{minedOut}}" {{action 'decreaseTime'}}>
    {{ui-icon icon='chevron-left' size='2x'}}
  </div>
  <div class="start-time">
    {{ui-slider
      min=_start
      max=_end
      step=step
      value=_shadowTime
      formatter=tooltip
      changed=(action 'timeChanged')
      class='needsclick'
    }}
  </div>
  <div class="pad flexy-item pointer">
    <span class="incrementer right increase-time {{maxedOut}}" {{action 'increaseTime'}}>
      {{ui-icon icon='chevron-right' size='2x'}}
    </span>
  </div>
</div>

{{! BOTTOM ROW }}
{{#if (gt _durationChoices.length 0)}}
<div class="duration">
  {{radio-buttons
    value=_duration
    buttons=_durationChoices
    changed=(action 'onDurationChange')
    stretch=true
  }}
</div>
{{/if}}
