<div class="left flex-item">
  <span  {{action 'decreaseDateRange'}}>
    {{ui-icon icon='chevron-left' size='3x'}}
  </span>
</div>
<div class="date-range flex-item">
  {{#ui-buttons changed='changed' as |group|}}
    {{#each _dateRange as |dateChoice|}}
    {{#ui-radio-button
      value=(moment-format dateChoice 'YYYY-MM-DD')
      group=group
      size=size
    }}
      {{moment-format dateChoice "dd"}}<br/>
      <b>{{moment-format dateChoice "DD"}}</b><br/>
      {{moment-format dateChoice "MMM"}}
    {{/ui-radio-button }}
    {{/each}}
  {{/ui-buttons}}
</div>
<div class="right flex-item">
  <span  {{action 'increaseDateRange'}}>
    {{ui-icon icon='chevron-right' size='3x' cursor=true}}
  </span>
</div>


{{yield}}
