<div class="side left decrease-date-range" {{action 'decreaseDateRange'}}>
  {{ui-icon icon='chevron-left' size='3x'}}
</div>
<div class="date-range">
  {{#if _value}}
    {{#radio-buttons
      stretch=true
      changed=(action 'dateChosen')
      as |group|
    }}
      {{#each dateRange as |dateChoice|}}
      {{#ui-button
        group=group
        value=dateChoice
        class=(concat (if (eq today dateChoice) 'today' null) (if (weekend dateChoice) ' weekend' ' weekday'))
        size=size
      }}
        <span class="current-dow">{{moment-format dateChoice "ddd"}}</span><br/>
        <b><span class="current-date">{{moment-format dateChoice "DD"}}</span></b><br/>
        <span class="current-month">{{moment-format dateChoice "MMM"}}</span>
      {{/ui-button}}
      {{/each}}
    {{/radio-buttons}}
  {{/if}}
</div>
<div class="side right increase-date-range">
  <span  {{action 'increaseDateRange'}}>
    {{ui-icon icon='chevron-right' size='3x' cursor=true}}
  </span>
</div>

{{yield}}
