<div class="side left decrease-date-range" {{action 'decreaseDateRange'}}>
  {{ui-icon icon='chevron-left' size='3x'}}
</div>
<div class="date-range">
  {{#ui-buttons stretch=true changed='dateChosen' cardinality='0:1' value='2015-05-04' as |group|}}
    {{#each _dateRange as |dateChoice|}}
    {{#ui-button
      value=(moment-format dateChoice 'YYYY-MM-DD')
      group=group
      size=size
    }}
      <span class="current-dow">{{moment-format dateChoice "ddd"}}</span><br/>
      <b><span class="current-date">{{moment-format dateChoice "DD"}}</span></b><br/>
      <span class="current-month">{{moment-format dateChoice "MMM"}}</span>
    {{/ui-button }}
    {{/each}}
  {{/ui-buttons}}
</div>
<div class="side right increase-date-range">
  <span  {{action 'increaseDateRange'}}>
    {{ui-icon icon='chevron-right' size='3x' cursor=true}}
  </span>
</div>

{{yield}}
