<div class="date flex-item">
<div class="vflexy">
    <div class="dow">{{moment value 'dddd'}}</div>
    <div class="dom">{{moment value 'DD'}}</div>
    <div class="month">{{moment value 'MMMM'}}</div>
</div>
</div>
<div class="time flexy-grow vertical">
  <div class="from flex-item">
    {{moment value _timeFormat}}{{#if ampm}}<span class="ampm">{{moment value 'a'}}</span>{{/if}}
  </div>
  {{#if _showStopTime}}
    <div class="to flex-item">
      until {{moment stopTime _timeFormat}}{{#if ampm}}<span class="ampm dim">{{moment value 'a'}}</span>{{/if}}
    </div>
  {{/if}}
  {{#if _showDuration}}
    <div class="to flex-item">
      for {{_durationPretty}}
    </div>
  {{/if}}

</div>
{{yield}}
