{{! TOP ROW }}
<div class="time">
  <div class="left decrease-time" {{action 'decreaseTime'}}>
    {{ui-icon icon='chevron-left' size='2x'}}
  </div>
  <div class="start-time">
    {{input type='range' min=0 max=numberOfBlocks value=minutesBlock class='needsclick'}}
  </div>
  <div class="pad flexy-item pointer">
    <span class="right increase-time" {{action 'increaseTime'}}>
      {{ui-icon icon='chevron-right' size='2x'}}
    </span>
  </div>
</div>

{{! BOTTOM ROW }}
<div class="duration">
  {{radio-buttons
    value=_duration
    buttons=_durationChoices
    changed='onDurationChange'
    stretch=true
  }}
</div>
